<div class="site-section" th:fragment="current-auctions">
    <div class="container">
        <div class="row mb-4">
            <div class="col-md-7 mb-5 text-center mx-auto">
                <span class="caption">Auctions</span>
                <h2 class="text-black">Current <strong>Auctions</strong></h2>
            </div>
        </div>
        <div class="row auctions-entry">
            <div th:each="auction : ${currentAuctions}" class="col-6 col-md-4 col-lg-3">
                <div class="item">
                    <div>
                        <strong class="price" th:text="'$' + ${auction.startPrice}"></strong>
                        <a th:href="'/' + ${auction.id}"><img th:src="'images/auctions/' + ${auction.image}" alt="Image"
                                               class="img-fluid"></a>
                    </div>
                    <div class="p-4">
                        <h3><a href="/detail" th:text="${auction.name}"></a></h3>
                        <div class="d-flex mb-2">
                            <span>Shoes</span>
                            <span class="ml-auto" th:text="${auction.bids} + ' bids'"></span>
                        </div>
                        <a href="/detail" class="btn btn-bid">Submit a Bid</a>
                    </div>
                </div>
            </div>

        </div>
        <div class="container text-center">
            <div class="row">
                <div class="col-lg">
                    <div class="custom-pagination">
                        <a href="#" class="active">1</a>
                        <a href="#">2</a>
                        <a href="#">3</a>
                        <a href="#">4</a>
                        <a href="#">5</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
