<div class="container" th:fragment="howItWorks" xmlns:th="http://www.w3.org/1999/xhtml">
  <div class="row">
    <div class="col-lg-7 mb-5">
      <span class="caption">How?</span>
      <h2 class="text-black">How <strong>It Works</strong></h2>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3">
      <div class="step">
        <span class="wrap-icon icon-user"></span>
        <h3>Register</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed consequatur quaerat magnam sequi nobis ut et
          iure.</p>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="step">
        <span class="wrap-icon icon-money"></span>
        <h3>Buy or Bid</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed consequatur quaerat magnam sequi nobis ut et
          iure.</p>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="step">
        <span class="wrap-icon icon-glass"></span>
        <h3>Submit a bid</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed consequatur quaerat magnam sequi nobis ut et
          iure.</p>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="step last">
        <span class="wrap-icon icon-trophy"></span>
        <h3>Win</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed consequatur quaerat magnam sequi nobis ut et
          iure.</p>
      </div>
    </div>
  </div>
</div>
