<th:div class="site-section" th:fragment="infoAbout" xmlns:th="http://www.w3.org/1999/xhtml">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <div class="numbers">
          <strong class="d-block">32, 594</strong>
          <span>Number of Clients</span>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="numbers">
          <strong class="d-block">25</strong>
          <span>Years of Experience</span>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="numbers">
          <strong class="d-block">1,029</strong>
          <span>Employees</span>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="numbers">
          <strong class="d-block">10,200</strong>
          <span>Cup of Coffees</span>
        </div>
      </div>
    </div>
  </div>
</th:div>
