<div class="container" th:fragment="infoHome" xmlns:th="http://www.w3.org/1999/xhtml">
  <div class="row">
    <div class="col-lg-7">
      <img src="images/hero_1.jpg" alt="Image" class="img-fluid">
    </div>
    <div class="col-lg-5 pl-lg-5">
      <div class="mb-5">
        <span class="caption">About?</span>
        <h2 class="text-black">About <strong>Us</strong></h2>
      </div>
      <div class= "d-flex feature-icon mb-3">
        <span class="wrap-icon icon-paper-plane mr-2"></span>
        <div>
          <h3>Fast Support</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, debitis!</p>
        </div>
      </div>

      <div class="d-flex feature-icon mb-3">
        <span class="wrap-icon icon-smile-o mr-2"></span>
        <div>
          <h3>Happy Customers</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, debitis!</p>
        </div>
      </div>

      <div class="d-flex feature-icon mb-3">
        <span class="wrap-icon icon-support mr-2"></span>
        <div>
          <h3>24/7 Support</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, debitis!</p>
        </div>
      </div>
    </div>
  </div>
</div>
