<div class="site-section" th:fragment="itemDetails">
    <div class="container">
        <div th:if="auction != null" class="row">
            <div class="col-lg-3 order-lg-2">
                <div class="side-box mb-4" th:if="${auction.status.name().equals('ACTIVE')}">
                    <p>
                        Start price: <strong class="text-black" th:text="${auction.startPrice} + '$'"></strong> <br>
                        Number of Bids: <strong class="text-black" th:text="${auction.bids}"></strong>
                    </p>
                    <div th:replace="fragments/auction-submit :: bid-submit"></div>
                    <div th:replace="fragments/auction-submit :: sell-submit"></div>
                </div>

                <div class="side-box mb-4" th:if="${auction.status.name().equals('SOLD')}">
                    <p>
                        Start price: <strong class="text-black" th:text="${auction.startPrice} + '$'"></strong> <br>
                        Number of Bids: <strong class="text-black" th:text="${auction.bids}"></strong> <br>
                        Sold: <strong class="text-black" th:text="${auction.finalPrice} + ' $'"></strong><br>
                        Byer: <strong class="text-black" th:text="${auction.userDescription}"></strong>
                    </p>
                </div>

                <div class="side-box mb-4" th:if="${auction.status.name().equals('AUCTIONED')}">
                    <p>
                        Start price: <strong class="text-black" th:text="${auction.startPrice} + '$'"></strong> <br>
                        Number of Bids: <strong class="text-black" th:text="${auction.bids}"></strong> <br>
                        Sold: <strong class="text-black" th:text="${auction.finalPrice} + ' $'"></strong>
                        Bider: <strong class="text-black" th:text="${auction.userDescription}"></strong>
                    </p>
                </div>

                <div class="side-box mb-4" th:if="${auction.status.name().equals('UNSOLD')}">
                    <p>
                        Start price: <strong class="text-black" th:text="${auction.startPrice} + '$'"></strong> <br>
                        Number of Bids: <strong class="text-black" th:text="${auction.bids}"></strong> <br>
                        UNSOLD
                    </p>
                </div>
                <div class="side-box text-center">
                    <h3 class="h5 text-black" th:text="${auction.ownerFullName}"></h3>
                    <span class="mb-3 d-block text-muted">Owner</span>
                    <p th:text="${auction.ownerDescription}"></p>
                </div>
            </div>
            <div class="col-lg-8 pr-lg-5">
                <div class="owl-carousel slide-one-item mb-5">
                    <img th:src="@{${'/images/auctions/' + auction.image }}" alt="Image" class="img-fluid mb-54">

                </div>
                <p th:text="${auction.description}"></p>


                <h2 class="my-4">Bidders</h2>
                <div th:replace="fragments/auction-bids :: bids"></div>
            </div>
        </div>

        <div th:if="${auction == null}" class="row">
            <div th:if="${currentAuctions == null || currentAuctions.size() == 0}" class="col-12">
                <div class="alert alert-warning" role="alert">
                    Auction was not found in archive!
                </div>
            </div>
        </div>
    </div>
</div>
