<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/style :: style"></head>
<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
<div class="site-wrap">
    <div th:replace="fragments/menu :: mobile-menu"></div>
    <div th:replace="fragments/header :: header"></div>
    <div th:replace="fragments/intro :: intro"></div>

    <div class="site-section">
        <div class="container">

            <div class="row">
                <div  class="col-md-3">
                    <div  class="side-box mb-5">
                        <h3>Categories</h3>
                        <ul th:if="${categories != null && categories.size() > 0}" class="list-unstyled auction-categories">
                            <li><a th:href="'/auctions'" th:text="'ALL'"> </a></li>
                            <li  th:each="category : ${categories}" ><a th:href="'/auctions/filter-category/' + ${category.id}" th:text="${category.name}"> </a></li>
                        </ul>
                        <div th:if="${categories == null || categories.size() == 0}" class="row">
                            <div class="col-12">
                                <div class="alert alert-warning" role="alert">
                                    Currently there are no categories!
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="side-box">
                        <h3>Recent Bidders</h3>
                        <div th:replace="fragments/auction-bids :: bids"></div>
                    </div>
                </div>

                <div class="col-md-9" th:insert="fragments/currentAuctions :: current-auctions"></div>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/footer :: footer"></div>
<div th:replace="fragments/loader :: loader"></div>
<div th:replace="fragments/script :: script"></div>
</body>


</html>
