<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="fragments/style :: style"></head>
<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">

<div class="site-wrap">
  <div th:replace="fragments/menu :: mobile-menu"></div>
  <div th:replace="fragments/header :: header"></div>
  <div th:replace="fragments/introBlog :: introBlog"></div>
  <div th:replace="fragments/infoBlog :: infoBlog"></div>

  <div class="pb-5">
    <div class="container">
      <div class="row">
        <div class="col-lg">
          <div class="custom-pagination">
            <a href="#">1</a>
            <a href="#" class="active">2</a>
            <a href="#">3</a>
            <a href="#">4</a>
            <a href="#">5</a>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div th:replace="fragments/footer :: footer"></div>
</div>
<div th:replace="fragments/loader :: loader"></div>
<div th:replace="fragments/script :: script"></div>
</body>

</html>
