<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="fragments/style :: style"></head>
<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">

<div class="site-wrap">
    <div th:replace="fragments/menu :: mobile-menu"></div>
    <div th:replace="fragments/header :: header"></div>
    <div th:replace="fragments/intro :: intro"></div>
    <div th:replace="fragments/currentAuctions :: current-auctions"></div>
    <div th:replace="fragments/how :: how-it-works"></div>
    <div th:replace="fragments/about :: about"></div>
    <div th:replace="fragments/testimonials :: testimonials"></div>
    <div th:replace="fragments/register :: register"></div>
    <div th:replace="fragments/footer :: footer"></div>
</div>

<div th:replace="fragments/loader :: loader"></div>
<div th:replace="fragments/script :: script"></div>
</body>

</html>
