<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/style :: style"></head>
<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
<div class="site-wrap">
    <div th:replace="fragments/menu :: mobile-menu"></div>
    <div th:replace="fragments/header :: header"></div>

    <div class="intro-section" style="background-image: url('https://news.bbcimg.co.uk/media/images/65439000/jpg/_65439383_65439382.jpg');">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-md-7 mx-auto text-center" data-aos="fade-up">
                    <h1>Login / Register</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit, nihil.</p>
                    <p><a href="/" class="btn btn-primary">Explore Now</a></p>
                </div>
            </div>
        </div>
    </div>



<div class="site-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <h2 class="mb-5 text-black"><strong>Log In</strong></h2>
                <div class="row">
                    <div class="col-md-12 form-group">
                        <label for="useremail">Username/Email</label>
                        <input type="email" id="useremail" class="form-control form-control-lg">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 form-group">
                        <label for="passlogin">Password</label>
                        <input type="password" id="passlogin" class="form-control form-control-lg">
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <input type="submit" value="Login" class="btn btn-primary btn-lg px-5">
                    </div>
                </div>
            </div>

            <form  action="#" th:action="@{/saveUser}" th:object="${user}"
                   method="POST">
            <div class="col-lg-5">
                <h2 class="mb-5 text-black"><strong>Register</strong></h2>

                <div class="row">
                    <div class="col-md-12 form-group">
                        <label for="firstname">First Name</label>
                        <input type="firstname" th:field="*{firstName}" id="firstname" class="form-control form-control-lg">

                </div>

                <div class="row">
                    <div class="col-md-12 form-group">
                        <label for="lastname">Last Name</label>
                        <input type="lastname" th:field="*{lastName}" id="lastname" class="form-control form-control-lg">

                </div>

                <div class="row">
                    <div class="col-md-12 form-group">
                        <label for="femail">Email</label>
                        <input type="email" th:field="*{email}" id="femail" class="form-control form-control-lg">

                </div>

                <div class="row">
                    <div class="col-md-12 form-group">
                        <label for="fpass">Password</label>
                        <input type="password" th:field="*{password}" id="fpass" class="form-control form-control-lg">

                </div>

                <div class="row">
                    <div class="col-12">
                        <input type="submit" value="Register" class="btn btn-primary btn-lg px-5">
                    </div>
                </div>
            </div>
            </form>
        </div>

    </div>
</div>

<div th:replace="fragments/testimonials :: testimonials" ></div>
<div th:replace="fragments/footer :: footer"></div>
</div>

<div th:replace="fragments/loader :: loader"></div>
<div th:replace="fragments/script :: script"></div>



</body>
</html>
